* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe76;
}

.grid-wrapper {
  display: grid;
  padding: 2rem;
  grid-template-rows: repeat(4, 100px);
  grid-gap: 3rem;
  margin: 0 10rem 0 10rem;
  color: white;
  background-color: white;
  border-radius: 2rem;
  min-width: 50rem;
}

.meals-eaten {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.meal-adder {
  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/4;
  justify-content: center;
}

button {
  padding: 15px 32px;
  font-size: 25px;
  color: white;
  background-color: #8854d0;
  border: 2px solid #a55eea;
  border-radius: 2rem;
}

button:hover {
  background-color: #28a85f;
  border: 2px solid #20bf6b;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  grid-row: 2/5;
  grid-column: 2/4;
  color: black;
  background-color: #f7f1e3;
  border-radius: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
  color: #8854d0;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: flex;
  flex-direction: center;
  justify-content: center;
  max-width: 350px;
}
